body {
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-color: black;
}

.title {
    margin-left: 10px;
    margin-bottom: 2px;
    color: lightgoldenrodyellow;
    margin-top: 40px;
}
.main {
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.form-box, .results {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 15px;
    background-color: lightgoldenrodyellow;
    border-radius: 10px;
    margin: 10px;
}

input {
    width: 100%;
    margin-bottom: 3px;
    font-size: 15px;
}

button {
    font-size: 15px;
    cursor: pointer;
}

button:hover {
    color: green; 
}

label {
    margin-bottom: 20px;
}



.new-order {
    background-color: lightgoldenrodyellow;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}

.green {
    background-color: green;
}


